<html>
<head>
  <title>Catalog Report</title>
</head>
<body>
  <h1>Catalog name: My catalog</h1>
  <p>Catalog path: C:\Users\PrEaD\Desktop\Anul2_semestrul2\PA</p>
  <ul>
    <h2>Songs:</h2>
      <li> 1. Nume: SummerTime Id: BestSong Locatie: https://www.youtube.com/watch?v=25N1pdzvp4c&ab_channel=K-391 Artist: K-391 Release date: Sep 5, 2014 Duration: 282</li>
      <li> 2. Nume: Better Days Id: GoodSong Locatie: https://www.youtube.com/watch?v=VGP6JP_hAPM&ab_channel=AirwaveMusicTV Artist: Arman Cekin & Faydee Release date: Nov 18, 2019 Duration: 188</li>
    <h2>Books:</h2>
      <li> 1. Nume: Harry Potter si Piatra Filozofala Id: FantasyBook Locatie: https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxyb21hbmVob3Jyb3J8Z3g6NDI4MDI2MWQ4MjZjZWM4MA Author: J. K. Rowling Release date: Jun 30, 1997 Page number: 152 Rating: 9.6</li>
      <li> 2. Nume: Arta subtila a nepasarii Id: MotivationalBook Locatie: https://msbook.pro/motivatisisucces/1154-arta-subtil-a-nepsrii-de-mark-manson-descarc-online-gratis-pdf.html Author: Mark Manson Release date: Sep 13, 2016 Page number: 241 Rating: 9.1</li>
    <h2>Photos:</h2>
      <li> 1. Nume: Big car Id: CarImage Locatie: C:\Users\PrEaD\Pictures\Saved Pictures\bigcar.png Author: Andrew Carson Datestamp: May 23, 2014 Description: A awesome monster truck. width: 1,920 height: 1,920</li>
      <li> 2. Nume: Forest with fog from mountain Id: ForestImage Locatie: C:\Users\PrEaD\Pictures\Saved Pictures\Forest.jpg Author: Jaymantri Datestamp: Mar 15, 2012 Description: A beautiful view of a forest with it's fox. Best for windows wallpaper width: 720 height: 1,280</li>
    <h2>Melodii:</h2>
      <li> 1. Nume: Fast & Furious 7 Id: CarMovie movies: C:\Users\PrEaD\Pictures\Saved Pictures\fndf7.mp4 BoxOfficeValue: 1,516 miliarde $ Release date: Apr 3, 2015 Duration: 8,400 Rating: 9.2</li>
      <li> 2. Nume: Spider-Man 3 Id: ActionMovie movies: C:\Users\PrEaD\Pictures\Saved Pictures\spider.mp4 BoxOfficeValue:  895 de milioane $ Release date: Apr 16, 2007 Duration: 9,360 Rating: 8.6</li>
  </ul>

</body>
</html>