<html>
    <head>
        <title>Movies Report</title>
    </head>
    <body>
        <h1>Report for Movies</h1>
        <ul>
                            <h3 style="color: purple;">Angajat</h3>
                <li> Id: 1 </li>
                <li> Titlu: Miss Jerry </li>
                <li> Data lansarii: Oct 9, 1894 </li>
                <li> Durata: 12:45:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 2 </li>
                <li> Titlu: The Story of the Kelly Gang </li>
                <li> Data lansarii: Dec 26, 1906 </li>
                <li> Durata: 1:10:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 3 </li>
                <li> Titlu: Den sorte drøm </li>
                <li> Data lansarii: Aug 19, 1911 </li>
                <li> Durata: 12:53:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 4 </li>
                <li> Titlu: Cleopatra </li>
                <li> Data lansarii: Nov 13, 1912 </li>
                <li> Durata: 1:40:00 AM </li>
                <li> Scorul: 5 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 5 </li>
                <li> Titlu: L'Inferno </li>
                <li> Data lansarii: Mar 6, 1911 </li>
                <li> Durata: 1:08:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 6 </li>
                <li> Titlu: From the Manger to the Cross; or, Jesus of Nazareth </li>
                <li> Data lansarii: Jan 1, 1913 </li>
                <li> Durata: 1:00:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 7 </li>
                <li> Titlu: Madame DuBarry </li>
                <li> Data lansarii: Nov 26, 1919 </li>
                <li> Durata: 1:25:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 8 </li>
                <li> Titlu: Quo Vadis? </li>
                <li> Data lansarii: Mar 1, 1913 </li>
                <li> Durata: 2:00:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 9 </li>
                <li> Titlu: Independenta Romaniei </li>
                <li> Data lansarii: Sep 1, 1912 </li>
                <li> Durata: 2:00:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 10 </li>
                <li> Titlu: Richard III </li>
                <li> Data lansarii: Oct 15, 1912 </li>
                <li> Durata: 12:55:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 11 </li>
                <li> Titlu: Atlantis </li>
                <li> Data lansarii: Dec 26, 1913 </li>
                <li> Durata: 2:01:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 12 </li>
                <li> Titlu: Fantômas - À l'ombre de la guillotine </li>
                <li> Data lansarii: May 12, 1913 </li>
                <li> Durata: 12:54:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 13 </li>
                <li> Titlu: Il calvario di una madre </li>
                <li> Data lansarii: Oct 18, 1915 </li>
                <li> Durata: 1:36:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 14 </li>
                <li> Titlu: Juve contre Fantômas </li>
                <li> Data lansarii: Sep 8, 1913 </li>
                <li> Durata: 1:01:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 15 </li>
                <li> Titlu: Ma l'amor mio non muore... </li>
                <li> Data lansarii: Jan 1, 1914 </li>
                <li> Durata: 1:30:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 16 </li>
                <li> Titlu: Maudite soit la guerre </li>
                <li> Data lansarii: May 1, 1914 </li>
                <li> Durata: 12:50:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 17 </li>
                <li> Titlu: Le mort qui tue </li>
                <li> Data lansarii: Nov 6, 1913 </li>
                <li> Durata: 1:30:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 18 </li>
                <li> Titlu: Amore di madre </li>
                <li> Data lansarii: May 17, 1914 </li>
                <li> Durata: 12:55:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 19 </li>
                <li> Titlu: Lo studente di Praga </li>
                <li> Data lansarii: Aug 22, 1913 </li>
                <li> Durata: 1:25:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 20 </li>
                <li> Titlu: Traffic in Souls </li>
                <li> Data lansarii: Nov 24, 1913 </li>
                <li> Durata: 1:28:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 21 </li>
                <li> Titlu: Gli ultimi giorni di Pompei </li>
                <li> Data lansarii: Aug 24, 1913 </li>
                <li> Durata: 1:28:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 22 </li>
                <li> Titlu: Assunta Spina </li>
                <li> Data lansarii: May 1, 1916 </li>
                <li> Durata: 1:12:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 23 </li>
                <li> Titlu: The Avenging Conscience: or 'Thou Shalt Not Kill' </li>
                <li> Data lansarii: Aug 24, 1914 </li>
                <li> Durata: 1:18:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 24 </li>
                <li> Titlu: The Bargain </li>
                <li> Data lansarii: Dec 3, 1914 </li>
                <li> Durata: 1:10:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 25 </li>
                <li> Titlu: Cabiria </li>
                <li> Data lansarii: Apr 18, 1914 </li>
                <li> Durata: 2:28:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 26 </li>
                <li> Titlu: Cinderella </li>
                <li> Data lansarii: Dec 28, 1914 </li>
                <li> Durata: 12:52:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 27 </li>
                <li> Titlu: L'enfant de Paris </li>
                <li> Data lansarii: Sep 17, 1913 </li>
                <li> Durata: 2:04:00 AM </li>
                <li> Scorul: 8 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 28 </li>
                <li> Titlu: Fantômas contre Fantômas </li>
                <li> Data lansarii: Jan 10, 1914 </li>
                <li> Durata: 12:59:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 29 </li>
                <li> Titlu: A Florida Enchantment </li>
                <li> Data lansarii: Sep 4, 1916 </li>
                <li> Durata: 1:03:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 30 </li>
                <li> Titlu: Der Golem </li>
                <li> Data lansarii: Apr 8, 1915 </li>
                <li> Durata: 1:00:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 31 </li>
                <li> Titlu: Det hemmelighedsfulde X </li>
                <li> Data lansarii: Mar 23, 1914 </li>
                <li> Durata: 1:24:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 32 </li>
                <li> Titlu: His Majesty, the Scarecrow of Oz </li>
                <li> Data lansarii: Oct 14, 1914 </li>
                <li> Durata: 12:59:00 AM </li>
                <li> Scorul: 5 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 33 </li>
                <li> Titlu: Hypocrites </li>
                <li> Data lansarii: Jan 20, 1915 </li>
                <li> Durata: 12:54:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 34 </li>
                <li> Titlu: In the Land of the Head Hunters </li>
                <li> Data lansarii: Dec 7, 1914 </li>
                <li> Durata: 1:05:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 35 </li>
                <li> Titlu: Judith of Bethulia </li>
                <li> Data lansarii: Mar 8, 1914 </li>
                <li> Durata: 1:01:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 36 </li>
                <li> Titlu: The Patchwork Girl of Oz </li>
                <li> Data lansarii: Sep 28, 1914 </li>
                <li> Durata: 1:21:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 37 </li>
                <li> Titlu: The Perils of Pauline </li>
                <li> Data lansarii: Mar 23, 1914 </li>
                <li> Durata: 3:19:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 38 </li>
                <li> Titlu: The Squaw Man </li>
                <li> Data lansarii: Feb 15, 1914 </li>
                <li> Durata: 1:14:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 39 </li>
                <li> Titlu: La madonnina del porto </li>
                <li> Data lansarii: Mar 30, 1914 </li>
                <li> Durata: 1:20:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 40 </li>
                <li> Titlu: Tillie's Punctured Romance </li>
                <li> Data lansarii: Dec 21, 1914 </li>
                <li> Durata: 1:22:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 41 </li>
                <li> Titlu: A tolonc </li>
                <li> Data lansarii: Mar 20, 1915 </li>
                <li> Durata: 1:07:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 42 </li>
                <li> Titlu: Uncle Tom's Cabin </li>
                <li> Data lansarii: Aug 10, 1914 </li>
                <li> Durata: 12:54:00 AM </li>
                <li> Scorul: 5 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 43 </li>
                <li> Titlu: The Virginian </li>
                <li> Data lansarii: Sep 7, 1914 </li>
                <li> Durata: 12:55:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 44 </li>
                <li> Titlu: The Wishing Ring: An Idyll of Old England </li>
                <li> Data lansarii: Nov 9, 1914 </li>
                <li> Durata: 12:54:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 45 </li>
                <li> Titlu: The Wrath of the Gods </li>
                <li> Data lansarii: Jun 8, 1914 </li>
                <li> Durata: 12:56:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 46 </li>
                <li> Titlu: Alias Jimmy Valentine </li>
                <li> Data lansarii: Feb 22, 1915 </li>
                <li> Durata: 1:05:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 47 </li>
                <li> Titlu: Alice in Wonderland </li>
                <li> Data lansarii: Jan 19, 1915 </li>
                <li> Durata: 12:52:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 48 </li>
                <li> Titlu: Nascita di una nazione </li>
                <li> Data lansarii: Mar 21, 1915 </li>
                <li> Durata: 3:15:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 49 </li>
                <li> Titlu: Carmen </li>
                <li> Data lansarii: Oct 31, 1915 </li>
                <li> Durata: 12:59:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 50 </li>
                <li> Titlu: The Cheat </li>
                <li> Data lansarii: Dec 13, 1915 </li>
                <li> Durata: 12:59:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 51 </li>
                <li> Titlu: The Coward </li>
                <li> Data lansarii: Nov 14, 1915 </li>
                <li> Durata: 1:17:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 52 </li>
                <li> Titlu: La vampira </li>
                <li> Data lansarii: Jan 12, 1915 </li>
                <li> Durata: 1:07:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 53 </li>
                <li> Titlu: The Golden Chance </li>
                <li> Data lansarii: Dec 30, 1915 </li>
                <li> Durata: 1:14:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 54 </li>
                <li> Titlu: Hævnens Nat </li>
                <li> Data lansarii: Sep 25, 1916 </li>
                <li> Durata: 1:40:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 55 </li>
                <li> Titlu: The Italian </li>
                <li> Data lansarii: Jan 1, 1915 </li>
                <li> Durata: 1:12:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 56 </li>
                <li> Titlu: Maciste </li>
                <li> Data lansarii: Jan 1, 1915 </li>
                <li> Durata: 1:07:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 57 </li>
                <li> Titlu: Martyrs of the Alamo </li>
                <li> Data lansarii: Nov 21, 1915 </li>
                <li> Durata: 1:11:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 58 </li>
                <li> Titlu: The Nigger </li>
                <li> Data lansarii: Mar 29, 1915 </li>
                <li> Durata: 12:50:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 59 </li>
                <li> Titlu: Posle smerti </li>
                <li> Data lansarii: Dec 29, 1915 </li>
                <li> Durata: 12:46:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 60 </li>
                <li> Titlu: Rapsodia satanica </li>
                <li> Data lansarii: Jul 1, 1917 </li>
                <li> Durata: 12:55:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 61 </li>
                <li> Titlu: La rigenerazione </li>
                <li> Data lansarii: Sep 13, 1915 </li>
                <li> Durata: 1:12:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 62 </li>
                <li> Titlu: I vampiri </li>
                <li> Data lansarii: Nov 13, 1915 </li>
                <li> Durata: 7:01:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 63 </li>
                <li> Titlu: Young Romance </li>
                <li> Data lansarii: Jan 21, 1915 </li>
                <li> Durata: 12:59:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 64 </li>
                <li> Titlu: 20,000 Leagues Under the Sea </li>
                <li> Data lansarii: Dec 24, 1916 </li>
                <li> Durata: 1:45:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 65 </li>
                <li> Titlu: The Children in the House </li>
                <li> Data lansarii: Apr 30, 1916 </li>
                <li> Durata: 12:50:00 AM </li>
                <li> Scorul: 5 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 66 </li>
                <li> Titlu: Civilization </li>
                <li> Data lansarii: Jun 2, 1916 </li>
                <li> Durata: 1:25:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 67 </li>
                <li> Titlu: The Devil's Needle </li>
                <li> Data lansarii: Aug 13, 1916 </li>
                <li> Durata: 12:59:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 68 </li>
                <li> Titlu: Dödskyssen </li>
                <li> Data lansarii: Aug 25, 1916 </li>
                <li> Durata: 1:00:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 69 </li>
                <li> Titlu: Flirting with Fate </li>
                <li> Data lansarii: Jul 9, 1916 </li>
                <li> Durata: 12:57:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 70 </li>
                <li> Titlu: Going Straight </li>
                <li> Data lansarii: Jun 4, 1916 </li>
                <li> Durata: 1:00:00 AM </li>
                <li> Scorul: 5 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 71 </li>
                <li> Titlu: The Good Bad-Man </li>
                <li> Data lansarii: Apr 21, 1916 </li>
                <li> Durata: 12:50:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 72 </li>
                <li> Titlu: Gretchen the Greenhorn </li>
                <li> Data lansarii: Sep 3, 1916 </li>
                <li> Durata: 12:58:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 73 </li>
                <li> Titlu: The Half-Breed </li>
                <li> Data lansarii: Jul 30, 1916 </li>
                <li> Durata: 1:13:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 74 </li>
                <li> Titlu: Hell's Hinges </li>
                <li> Data lansarii: Mar 5, 1916 </li>
                <li> Durata: 1:04:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 75 </li>
                <li> Titlu: His Picture in the Papers </li>
                <li> Data lansarii: Feb 13, 1916 </li>
                <li> Durata: 1:02:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 76 </li>
                <li> Titlu: Hoodoo Ann </li>
                <li> Data lansarii: Mar 26, 1916 </li>
                <li> Durata: 1:05:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 77 </li>
                <li> Titlu: Intolerance </li>
                <li> Data lansarii: Feb 24, 1918 </li>
                <li> Durata: 2:43:00 AM </li>
                <li> Scorul: 8 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 78 </li>
                <li> Titlu: Judex </li>
                <li> Data lansarii: Jan 19, 1917 </li>
                <li> Durata: 5:00:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 79 </li>
                <li> Titlu: The Matrimaniac </li>
                <li> Data lansarii: Dec 16, 1916 </li>
                <li> Durata: 12:46:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 80 </li>
                <li> Titlu: Pikovaya dama </li>
                <li> Data lansarii: Apr 1, 1916 </li>
                <li> Durata: 1:03:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 81 </li>
                <li> Titlu: Reggie Mixes In </li>
                <li> Data lansarii: Jun 11, 1916 </li>
                <li> Durata: 12:50:00 AM </li>
                <li> Scorul: 5 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 82 </li>
                <li> Titlu: The Return of Draw Egan </li>
                <li> Data lansarii: Oct 15, 1916 </li>
                <li> Durata: 12:50:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 83 </li>
                <li> Titlu: Schuhpalast Pinkus </li>
                <li> Data lansarii: May 1, 1916 </li>
                <li> Durata: 12:45:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 84 </li>
                <li> Titlu: Sherlock Holmes </li>
                <li> Data lansarii: May 15, 1916 </li>
                <li> Durata: 1:56:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 85 </li>
                <li> Titlu: Shoes </li>
                <li> Data lansarii: Jun 26, 1916 </li>
                <li> Durata: 1:00:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 86 </li>
                <li> Titlu: Snow White </li>
                <li> Data lansarii: Dec 25, 1916 </li>
                <li> Durata: 1:03:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 87 </li>
                <li> Titlu: The Social Secretary </li>
                <li> Data lansarii: Sep 17, 1916 </li>
                <li> Durata: 12:52:00 AM </li>
                <li> Scorul: 5 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 88 </li>
                <li> Titlu: Vingarne </li>
                <li> Data lansarii: Sep 4, 1916 </li>
                <li> Durata: 1:09:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 89 </li>
                <li> Titlu: Where Are My Children? </li>
                <li> Data lansarii: May 1, 1916 </li>
                <li> Durata: 1:02:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 90 </li>
                <li> Titlu: '49-'17 </li>
                <li> Data lansarii: Oct 15, 1917 </li>
                <li> Durata: 1:01:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 91 </li>
                <li> Titlu: Bucking Broadway </li>
                <li> Data lansarii: Dec 24, 1917 </li>
                <li> Durata: 12:53:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 92 </li>
                <li> Titlu: Cleopatra </li>
                <li> Data lansarii: Oct 14, 1917 </li>
                <li> Durata: 2:05:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 93 </li>
                <li> Titlu: Furcht </li>
                <li> Data lansarii: Nov 12, 1917 </li>
                <li> Durata: 1:12:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 94 </li>
                <li> Titlu: A Girl's Folly </li>
                <li> Data lansarii: Feb 26, 1917 </li>
                <li> Durata: 1:05:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 95 </li>
                <li> Titlu: L'astronave </li>
                <li> Data lansarii: Feb 22, 1918 </li>
                <li> Durata: 1:37:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 96 </li>
                <li> Titlu: Joan the Woman </li>
                <li> Data lansarii: Dec 25, 1916 </li>
                <li> Durata: 2:18:00 AM </li>
                <li> Scorul: 7 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 97 </li>
                <li> Titlu: The Little American </li>
                <li> Data lansarii: Jul 12, 1917 </li>
                <li> Durata: 1:20:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 98 </li>
                <li> Titlu: The Little Princess </li>
                <li> Data lansarii: Nov 11, 1917 </li>
                <li> Durata: 1:02:00 AM </li>
                <li> Scorul: 6 </li>
                <h3 style="color: purple;">Angajat</h3>
                <li> Id: 99 </li>
                <li> Titlu: Desiderata </li>
                <li> Data lansarii: Mar 7, 1917 </li>
                <li> Durata: 1:20:00 AM </li>
                <li> Scorul: 6 </li>
        </ul>
    </body>
</html>